
<%- include("partial/header") -%>

<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./" >
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
              </span>
              <span class="nav-link-title">
                Accounting
              </span>
            </a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-presentation-analytics" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 12v-4"></path>
                    <path d="M15 12v-2"></path>
                    <path d="M12 12v-1"></path>
                    <path d="M3 4h18"></path>
                    <path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10"></path>
                    <path d="M12 16v4"></path>
                    <path d="M9 20h6"></path>
                </svg>
                
            </span>
              <span class="nav-link-title">
                Banking
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item active" href="/bank-accounts">
               Bank Account
              </a>
              <a class="dropdown-item" href="/journal-accounts">
                Journal Account
              </a>
            </div>
          </li>
  
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
              <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
              </svg>  
                
            </span>
              <span class="nav-link-title">
                Settings
              </span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/users">
             User Management
              </a>
             
            </div>
          </li>
        
        
          
        </ul>
        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
          <form action="." method="get">
            <div class="input-icon">
              <span class="input-icon-addon">
                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
              </span>
              <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Banking
                </div>
                <h2 class="page-title">
                  View & Update Bank Account
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="/bank-accounts" class="btn btn-white">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                   </svg>                   
                   Cancel
                  </a>
               <form action="/updateAccount" method="post">
                  <button type="submit" name="accountID" value="<%= accountID %>" class="btn btn-primary d-none d-sm-inline-block">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                      <circle cx="12" cy="14" r="2"></circle>
                      <polyline points="14 4 14 8 8 8 8 4"></polyline>
                   </svg>                    
                   Save changes
                  </button>
                 
                </div>
              </div>

            </div>
          </div>
        </div>
        
          <div class="page-body">
            <div class="container-xl">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">Bank Full Name</label>
                        <input type="text" class="form-control" name="bankName" value="<%= bankName %>" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">Account Number</label>
                        <input type="text" class="form-control" name="accountNumber" value="<%= accountNumber %>" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">Account Owner Name</label>
                        <input type="text" class="form-control" name="ownerName" value="<%= ownerName %>" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">Bank Email</label>
                        <input type="email" class="form-control" name="bankEmail" value="<%= bankEmail %>" autocomplete="off" required>
                      </div>
                    </div>
                   
                    <div class="col-lg-3">
                      <div>
                        <label class="form-label">Account Type</label>
                        <select class="form-select" name="accountType" required>
                          <option value="Current Account" <%=accountType==='Current Account' ? 'selected' : '' %>>Current Account</option>
                          <option value="Fixed Deposit"<%=accountType==='Fixed Deposit' ? 'selected' : '' %>>Fixed Deposit</option>
                          <option value="Fusion Account"<%=accountType==='Fusion Account' ? 'selected' : '' %>>Fusion Account</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div>
                        <label class="form-label">Deposited</label>
                        <input type="number" class="form-control" name="deposited" value="<%= deposited %>" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div>
                        <label class="form-label">Withdrawal</label>
                        <input type="number" class="form-control" name="withdrawal" value="<%= withdrawal %>" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div>
                        <label class="form-label">Balance Amount</label>
                        <input type="number" class="form-control" name="balanceAmount" value="<%= balanceAmount %>" autocomplete="off" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>   
        <%- include("partial/footer") -%>